@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/header";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
//Importado de BS3
@import "partials/visibility";
//Nuevos estilos
@import "components/card-product";
@import "components/typography";
//swiper plugin
@import "~swiper/dist/css/swiper.min.css";
@import "components/featured-products-slider";
//Material Icons vida DATA-ATTR
@import "components/material-icons-data";
@import "components/responsive-breakpoint";
@import "components/util";
@import "components/hamburger";

//TO-DO
//Revisar archivos bootstrap que no serían necesario import
// _type.scss
// dar estilos a titulos

img {
  max-width: 100%;
}

.popover {
  font-family: inherit;
}
// WRAPPER
#wrapper {
  padding-top: 1.563rem;
  .breadcrumb {
    background: transparent;
    padding: 0;
    &[data-depth="1"] {
      display: none;
    }
    ol {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      display: inline;
      &::after {
        content: "/";
        color: $gray;
        margin: 0.3125rem;
      }
      &:last-child {
        content: "/";
        color: $gray;
        margin: 0;
        &::after {
          content: "";
        }
      }
    }
  }
}
// MAIN
#main {
  @include media-breakpoint-down(xs) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .page-header {
    margin-bottom: 1.563rem;
  }
  .page-content {
    margin-bottom: 1.563rem;
    h6 {
      margin-bottom: 1.125rem;
    }
    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .page-footer {
    margin-bottom: 1.563rem;
  }
}
#notifications {
  ul {
    margin-bottom: 0;
  }
}

// Responsive part
@include media-breakpoint-down(sm) {
  #wrapper {
    box-shadow: none;
  }
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  .block-contact {
    padding-left: 0.9375rem;
    border: none;
  }
  .menu,
  .dropdown-item {
    padding-left: 0;
  }
  #footer {
    padding-top: 0.5rem;
  }
}
@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }
  .sub-menu {
    left: 0;
    min-width: 100%;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 250px;
    margin: 0 auto 0.9375rem;
  }
  #blockcart-modal .cart-content {
    padding-left: 0;
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }
}

@include media-breakpoint-down(xs) {
  #left-column, #content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

address, dl, ol, ul {
  margin-bottom: 0;
}
//override user agent stylesheet
//override ivan _reboot.scss
ul, ol, menu, dir, figure {
  margin-block-start: unset;
  margin-block-end: unset;
  padding-inline-start: unset;
  padding-inline-end: unset;
}