.featured-products .products {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
    margin-right: -1em;
}

.layout-left-column,
.layout-right-column {
    .products {
        & > .card-product {
            flex: 1 0 60%;
            margin: 1rem 0;
            @include media-breakpoint-up(sm) {
                flex: 1 0 30%;
                max-width: calc(50% -  1em);
                margin: 1rem 1em;
            }
            @include media-breakpoint-up(md) {
                flex: 1 0 25%;
                max-width: calc(33.3333% - 2em);
            }
        }
    }
}

.products {
    & > .card-product {
        flex: 1 0 60%;
        box-sizing: border-box;
        
        @include media-breakpoint-up(sm) {
            flex: 1 0 30%;
            max-width: calc(50% -  1em);
        }
        @include media-breakpoint-up(md) {
            flex: 1 0 25%;
            max-width: calc(33.3333% - 2em);
        }
        @include media-breakpoint-up(lg) {
            flex: 1 0 20%;
            max-width: calc(25% - 1em);
        }
    }
}

.card-product {
    margin: 1rem 1em;
    background-color: #d2d2d2;
    &__body {
        padding: 1rem 1em;
    }
    &__footer {
        padding: 1rem 1em 0;
    }
}