$mobile-inner-x-padding: .625rem;
$mobile-inner-y-padding: .625rem;

// HEADER quitado de themes.scss
.header-nav {
	> .container > .row {
		//TO-DO: posibilidad
		//Definir height o min-height
		//min-height: 40px;
	}
	border-bottom: $gray-light 1px solid;
	&__left,
	&__right {
		display: flex;
		flex-wrap: nowrap;
	}
	&__left {
		justify-content: flex-start;
	}
	&__right {
		justify-content: flex-end;
	}
	.currency-selector {
		white-space: nowrap;
	}
	.user-info {
		white-space: nowrap;
		.account {
			margin-left: $small-space;
		}
	}
	.language-selector {
		white-space: nowrap;
	}
	.cart-preview {
		&.active {
			background: $brand-primary;
			a, i {
				color: white;
			}
		}
		.shopping-cart {
			vertical-align: middle;
			color: $gray;
		}
		.body {
			display: none;
		}
	}
	.blockcart {
		margin-left: .9375rem;
		text-align: center;
		white-space: nowrap;
		@media(max-width: $breakpoint-menu-responsive - .02px) {
			margin-right: .9375rem;
		}
		a {
			color: $gray;
			&:hover {
				color: $brand-primary;
			}
		}
		&.active {
			a:hover {
				color: white;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.header-nav {
			.top-logo {
				//TO-DO: Ajuste
				//Ajustar width / max-width / height / max-height Según interese
			}
			.user-info {
				text-align: left;
				.logged {
					color: $brand-primary;
				}
			}
			.blockcart {
				margin-left: 0;
				background: inherit;
				&.active {
					margin-left: 0.5rem;
				}
				&.inactive {
					.cart-products-count {
						display: none;
					}
				}
			}
		}
	}
}
.header-top {
	> .container > .row {
		//TO-DO: posibilidad
		//Definir height o min-height
		//min-height: 90px;
	}
}
.top-menu-link {
	margin-left: $medium-space;
}

#mobile_top_menu_wrapper {
	.top-menu {
		.collapse-icons[aria-expanded="true"] {
			.add {
				display: none;
			}
			.remove {
				display: block;
			}
		}
		.collapse-icons .remove {
			display: none;
		}
		.navbar-toggler {
			display: inline-block;
			padding: 0;
		}
		a[data-depth="0"] {
			padding: $mobile-inner-y-padding $mobile-inner-x-padding;
			border-bottom: 1px solid $gray-lighter;
		}
		.collapse {
			display: none;
			&.in,
			&.show {
				display: block;
			}
		}
		.sub-menu {
			&.collapse {
				display: none;
				&.in,
				&.show {
					display: block;
				}
			}
			box-shadow: none;
			z-index: inherit;
			display: block;
			position: static;
			overflow: hidden;
			margin-left: 0;
			width: 100%;
			min-width: 100%;
			background: $gray-lighter;
			ul[data-depth="0"] > li {
				border-bottom: 1px solid $gray;
			}
			ul[data-depth="1"] {
				margin: 0;
				> li {
					width: 100%;
					margin: 0;
				}
			}
			ul {
				padding: 0;
			}
			li > a {
				padding: $mobile-inner-y-padding $mobile-inner-x-padding;
				border-bottom: 1px solid white;
			}
			ul[data-depth="2"] li a {
				padding-left: 1.25rem;
			}
			ul[data-depth="3"] li a {
				padding-left: 2.5rem;
			}
			ul[data-depth="4"] li a {
				padding-left: 3.75rem;
			}
		}
	}
	.js-top-menu-bottom {
		a {
			color: $gray;
		}
		.language-selector-wrapper {
			padding: $mobile-inner-y-padding $mobile-inner-x-padding;
			.language-selector {
				display: inline;
			}
		}
		.currency-selector {
			padding: $mobile-inner-y-padding $mobile-inner-x-padding;
		}
		#contact-link {
			padding: $mobile-inner-y-padding $mobile-inner-x-padding;
		}
		.user-info {
			padding: 0 $mobile-inner-x-padding;
			a {
				padding: $mobile-inner-y-padding 0;
				display: block;
				width: 100%;
			}
		}
	}
}


//INICIO ADAPTACIÓN MENU RESPONSIVE
#mobile_top_menu_wrapper {
	position: fixed;
	//display: block;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	width: 294px;
	transform: translate3d(calc(-100vw - 15px), 0, 0);//Desplaza el ancho de la sombra 
	transition: transform .4s ease-in-out;
	box-shadow: 0 0 15px rgba(0,0,0,.5);
	z-index: 7;

	flex-direction: column;
	flex-wrap: nowrap;
	background: white;

	.responsive-menu-item {
		position: relative;
		&-caret {
			position: absolute;
			right: 0;
			top: calc(5px + #{$mobile-inner-y-padding}/2);
			z-index: 1;
		}
	}
	.search-widget {
		padding: $mobile-inner-y-padding $mobile-inner-x-padding;
		margin-bottom: 1rem;
	}
}
.overlay-bg {
	background-color: transparent;
	transition: background-color .3s ease-in-out;
}
.menu-open {
	//position: fixed;
	overflow: hidden;
	max-width: 100%;
	#mobile_top_menu_wrapper {
		transform: translate3d(0, 0, 0);
		transition: transform .3s ease-in-out;
	}
	.overlay-bg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 5;
		transition: background-color .2s ease-in-out;
	}
}
//FIN ADAPTACIÓN MENU RESPONSIVE


//INICIO SELECTS MONEDA / IDIOMA. CONTACTO
//NO SE ESPECIFICA MEDIAQUERIE POR ESTAR DENTRO DE: #mobile_top_menu_wrapper
#mobile_top_menu_wrapper {
	.js-top-menu-bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#_mobile_currency_selector,
	#_mobile_language_selector {
		width: 49%;
		> div {
			padding: 0;
		}
		select {
			width: 100%;
			margin: 1rem 0;
			padding: .4rem;
		}
	}
	#_mobile_contact_link {
		a {
			color: #323233;
		}
	}
}
//FIN SELECTS MONEDA / IDIOMA. CONTACTO