#custom-text {
  background: #FFF;
  border-radius: 2px;
  margin-bottom: 1.5rem;
  text-align: center;
}
.page-content.page-cms{
  background: #FFF;
  text-align: justify;
}
@include media-breakpoint-down(md) {
  #block-cmsinfo {
    padding: $medium-space $large-space;
  }
}
