.block_newsletter {
  @include search-box;
  font-size: $font-size-sm;
  form {
    .input-wrapper {
      overflow: hidden;
    }
    input[type=text] {
      padding: 11px;
      &:focus {
        border: 3px $brand-primary solid;
        padding: 8px 8px 9px;
        outline: 0;
      }
      width: 100%;
    }
    input {
      height: 42px;
      box-shadow: none;
    }
  }
  margin-bottom: 0.625rem;
}
.linklist {
  .blockcms-title a {
    color:$gray-darker;
  }
}
.social-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  &:hover {
    fill: $brand-secondary;
  }
}
.block-social {
  text-align: right;
}
.block-social li {
  background-color: $gray-light;
  display: inline-block;
  margin: 0.125rem;
  &:hover {
    background-color: $brand-primary;
  }
  a {
    display: block;
  }
}

#block_myaccount_infos{
  .myaccount-title a{
    color:$gray-darker;
  }
}

.footer-container {
  overflow: hidden;
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.3);
  .links {
    .collapse {
      display: inherit;
    }
  }
}

@include media-breakpoint-down(sm) {
  .block_newsletter {
    border-bottom: 1px solid $gray-lighter;
  }
  .footer-container {
    box-shadow: none;
    margin-top: 0;
    .wrapper {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .links {
      .h3 {
        line-height: 1.5;
        font-size: 1rem;
      }
      .title {
        padding: 0.625rem;
        border-bottom: 1px solid $gray-lighter;
        cursor: pointer;
        .collapse-icons .remove {
          display: none;
        }
      }
      .title[aria-expanded="true"] .collapse-icons {
        .add {
          display: none;
        }
        .remove {
          display: block;
        }
      }
      .navbar-toggler {
        display: inline-block;
        padding: 0;
      }
      .collapse {
        display: none;
        &.in,
        &.show {
          display: block;
        }
      }
      ul {
        background-color: $gray-lighter;
        margin-bottom: 0;
        > li {
          padding: 0.625rem;
          border-bottom: 1px solid white;
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .block-social {
    text-align: center;
  }
  .block-contact {
    padding-left: 1.5rem;
  }
}
