.top-menu {
	display: flex;
	flex-direction: column;
	&[data-depth="1"] {
		margin: 0.625rem;
	}
	a[data-depth="1"],
	a[data-depth="2"] {
		//padding: 0 0.625rem 0.625rem 0;
	}
	.collapse {
		display: inherit;
	}
	.sub-menu {
		&.collapse {
			display: none;
		}
		box-shadow: 2px 1px 11px 2px rgba(0, 0, 0, 0.1);
		@include box-shadow-light;
		border: none;
		margin-left: 0.9375rem;
		width: calc(100% - 30px);
		min-width: calc(100% - 30px);
		z-index: 18;
		display: none;
		&--fila {
			> ul {
				flex-direction: column;
				margin: 1.5rem;
				> li {
					&:not(:last-child) {
						margin: 0 0 1rem 0;
					}
					.dropdown-item {
						padding: 0;
					}
				}
			}
		}
	}
	.popover {
		max-width: inherit;
		border-radius: 0;
	}
	@media(min-width: $breakpoint-menu-responsive) {
		flex-direction: row;
	}
}
.popover.bs-tether-element-attached-top {
	margin-top: 0;
}
